*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
venv

#Translations
*.mo

.mr.developer.cfg
.idea
*.swp
